<%= form_with(model: family, local: true) do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :family_name %>
    <%= form.text_field :family_name, id: :family_family_name %>
  </div>

  <div class="field">
    <%= form.label :parent_first_name %>
    <%= form.text_field :parent_first_name, id: :family_parent_first_name %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :family_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
