<%= form_with(model: camp_instructor, local: true) do |form| %>
  <% if camp_instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(camp_instructor.errors.count, "error") %> prohibited this camp_instructor from being saved:</h2>

      <ul>
      <% camp_instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container" style="color: #82613c">
  <div class="field">
    <%= form.label :camp_id %>
    <!--<%= form.number_field :camp_id, id: :camp_instructor_camp_id %>-->
    <%= form.collection_select :camp_id, Camp.alphabetical.active.all, :id, :name, :prompt => "Select Camp..." %>
  </div>

  <div class="field">
    <%= form.label :instructor_id %>
    <!--<%= form.number_field :instructor_id, id: :camp_instructor_instructor_id %>-->
    <%= form.collection_select :instructor_id, Instructor.alphabetical.active.all, :id, :name, :prompt => "Select Instructor..." %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
